// Specific CSS for your home-page
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to top, #fffae2, #fffbe5, #fffce9, #fffdec, #fffeef);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.home h1 {
  color: #EDF2F4;
  font-size: 50px;
  text-shadow:  2px 2px grey;
}
.home p {
  color: #EDF2F4;
  font-size: 20px;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.74);
}
.card-trip {
  width: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}
.cards {
  text-align: center;
  margin-top: 20px;
  text-weight: bolder;
}
.footer ul li {
  display: inline;
  margin: 0 15px;
  font-size: 27px;
}
.footer a {
  color: #460908;
}
.footer ul  {
  display: flex;
  justify-content: center;
}
.footer p {
  text-align: center;
}
.footer {
  background-size: cover;
  padding: 10px;
}
.home-input {
  width: 25%;
}
.landing-page-titles {
  border-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.44);
  margin-bottom: 20px;
  margin-top: 20px;
  color: #7e7d78;
  font-family: Travel Font;
  font-size:40px;
}
