
.s {
border-radius: 5px;
margin-top: 40px;
box-shadow:  0 0 15px rgba(0,0,0,0.2);
background-color: #fff9ef;
font-size: 16px;
font-weight: bold;
height:  auto 280px;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
background-color: white;
}
.b {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.card-body {
  position: relative;
}
.card-body-wrap {

  display: flex;
  justify-content: space-between;
}
.friend-btn {
  position: absolute;
  bottom:20px;
  left:15px;
}
.show-cnt {
  position: relative;
}
