.profile-image {
margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-text {
  margin-top: 20px;
  font-family: verdana, sans-serif;
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}
.profile-card {
  position: relative;
 margin-top: 20px;
  box-shadow:1px 1px 4px rgba(0,0,0,0.58);
  border-radius: 5px;
}
.profile-center {
display: flex;
justify-content: center;
}
#go-back {
  margin-left: 180px;
}
#edit-catcher {
  position: absolute;
  top:15px;
  right:15px;
  z-index: 2;

}
.to-the-line-profile {
  white-space: pre-line;
}
.txt-show {
text-color: black;
}
 .profile-text h4 {
  margin-bottom: 20px;
 }
 tr{
    display: table-row;
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
    font-size: 1rem;
    font-family: "Raleway", "Helvetica", "sans-serif";
    font-weight: 50;

    .td-right{
      text-align: right;
    }
 }
 .card-profile{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 200px;
      color: #27374c;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    padding:5px;
    h4{
      text-color:#929DAD;
    }
 }
