.profile-image {
margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-text {
  margin-top: 20px;
  font-family: verdana, sans-serif;
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}
.profile-card {
  position: relative;
 margin-top: 20px;
  box-shadow:1px 1px 4px rgba(0,0,0,0.58);
  border-radius: 5px;
}
.profile-center {
display: flex;
justify-content: center;
}
#go-back {
  margin-left: 180px;
}
#edit-catcher {
  position: absolute;
  top:15px;
  right:15px;
  z-index: 2;

}
.to-the-line-profile {
  white-space: pre-line;
}
.txt-show {
  background-color:rgba(175,89 ,58, 0.8);
  border-radius: 5px;
  padding:5px 25px;
  color: white;
  margin-right: 30px;
}
 .profile-text h4 {
  margin-bottom: 20px;
 }
