.avatar-large {
  width: 56px;
  height:56px;
  border-radius: 50%;
  margin: 10px;
}
.box {
  display:flex;
  justify-content:space-between;
}

#icon{
  margin-left: auto;
  i{
    background-color:  #af593a;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 10px;
  }
}
.ava{
  display:flex;
  justify-content:space-around;
}
#feather-greay{
  color: #ffbd9e;
}
.small{
  font-size: 1rem;
}


