.invit-status {
  background-color: aquamarine;
}
.status-open {
  color: green;
  background-color: aquamarine;
  border-radius: 5px;
}
.status-full {
  color: green;
  background-color: orange;
  border-radius: 5px;
}
.status-locked {
  color: black;
  background-color: red;
  border-radius: 5px;
}
