.wrapper-chat{
    position: relative;
    margin:2px;
    background: #811d1d;
    box-shadow: inset 0px 3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: normal;
    color: white;
    line-height: 1.5;

    #wrapper-img{



    }
}
