<%= link_to destination_path(destination) do%>
<div class="card-product">
  <% unless destination.pictures.empty? %>
  <%= cl_image_tag (destination.pictures.first.photo) %>
  <% end %>
  <div class="card-product-infos">
    <h2><%=destination.location %></h2>
    <p><%=destination.description %></p>
  </div>
</div>
<% end %>


